$dark-gray: #2F3136;
$gray: #36393F;
$light-gray: #A2A3A4;
$white: lightgray;
$red: #F65556;

@mixin minecraft {
  font-family: "Minecraft", Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: none;
}