@import "colors";

#scoreboard {
  box-sizing: border-box;
  padding: 20px;

  max-width: 80%;

  background-color: $gray;

  @include minecraft;
  font-size: xx-large;

  .scores {
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;

      .key {
        color: $light-gray;
      }

      .value {
        color: $red;
        margin-left: 10px;
      }
    }
  }
}