@import "colors";

#search-bar {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;

  font: inherit;
  text-align: center;
  color: $white;
  background: transparent;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}